


<h1>Listing posts</h1>
<%= will_paginate @posts %>
<table border="1" >
  <tr>
<%= form_tag posts_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %></tr><tr>
    <th>Name</th>
    <th>Rollno</th>
    <th>Fathername</th>
    <th>Dob</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.rollno %></td>
    <td><%= post.fathername %></td>
    <td><%= post.dob %></td>
    <td><%= post.gender %></td>
    <td><%= post.email %></td>
    <td><%= post.phone %></td>
    <td><%= post.address %></td>
    <td><%= image_tag post.attachment.url(:thumb) %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @posts%>
<%= link_to 'New Post', new_post_path %>
